---
interface Props {
	name: string;
	clazz: string;
}

const { name, clazz } = Astro.props;
---

<div>
	<h3 class={clazz}>{name}</h3>
	<p class={clazz}><slot /></p>
</div>
<style>
	.p1 {
		color: blue;
	}
	.p2 {
		color: green;
	}
</style>
