---
interface Props {
	native: string;
	foreign: string;
}

const { native, foreign } = Astro.props;
---

<div>
	<h3 class="word">{foreign}</h1>
	<p class="definition">{native}</p>
</div>
<style>
	.word {
		color: blue;
	}
	.definition {
		color: green;
	}
</style>
